.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
*.egg-info/
dist/
build/
/data/
.idea/
.vscode/
.terraform/
*.tfstate
*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/.terraform.lock.hcl
*.log
.DS_Store
